# Discord OAuth2
DISCORD_CLIENT_ID=your_client_id
DISCORD_CLIENT_SECRET=your_client_secret

# NextAuth.js
NEXTAUTH_SECRET=your_random_secret_key
NEXTAUTH_URL=http://localhost:3000

# API
API_BASE_URL=http://localhost:8000
HASURA_GRAPHQL_ADMIN_SECRET=your_hasura_admin_secret